.keyboard {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    min-height: 50px ;
  }
  .title{
    text-align: left;
    font-size: 2rem;
    /* float: left; */
  }
  .inputkeys{
    /* padding-bottom: 2rem; */
    font-size: 1.5rem;
  }
  /* .key */
  .key {
    width: 50px;
    height: 50px;
    border: 0.5px solid #B3C99C;
    background-color: #A4BC92;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin: 0 10px;
  }
  
  .highlighted {
    background-color: #c3e88d;
  }
  